<header>
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">          
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a href="index.html"><img src="../../../assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-10">
                        <div class="main-menu black-menu menu-bg-white d-none d-lg-block">
                            <div class="hamburger hamburger--collapse">
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>
                            <nav class="hamburger-menu">
                                <ul id="navigation">
                                    <li><a href="index.html">Home</a></li>
                                    <li>
                                        <a href="about.html">About</a>
                                        <ul class="submenu">
                                            <li><a href="About.html">About</a></li>
                                            <li><a href="Missions.html">Missions</a></li>
                                            <li><a href="Faith statements.html">Faith Statements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="Ministries.html">Ministries</a></li>
                                    <li><a href="Events.html">Events</a></li>
                                    <li>
                                        <a href="Media.html">Media</a>
                                        <ul class="submenu">
                                            <li><a href="Media.html">Media</a></li>
                                            <li><a href="Media1.html">Media1</a></li>
                                            <li><a href="Media2.html">Media2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div type="text" class="main_bt"><a href="login.html">Login</a></div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
        
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>