<header>
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">          
                    <div class="col-xl-2 col-lg-2 col-md-1">
                        <div class="logo">
                            <a routerLink="/home"><img src="../../../assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-10">
                        <div class="main-menu black-menu menu-bg-white">
                            <div class="hamburger hamburger--collapse" (click)='navCollapse()'>
                                <div class="hamburger-box">
                                    <div class="hamburger-inner"></div>
                                </div>
                            </div>
                            <nav class="hamburger-menu">
                                <ul id="navigation">
                                    <li>
                                        <a routerLink="/home" id='nav-home' class='nav-active nav-option' (click)='navClick("nav-home")'>Home</a>
                                    </li>
                                    <li>
                                        <a routerLink="/aboutUs" id='nav-about' class='nav-option' (click)='navClick("nav-about")'>About</a>
                                        <!-- <ul class="submenu">
                                            <li><a routerLink="/aboutUs">About</a></li>
                                            <li><a routerLink="/aboutUs">Missions</a></li>
                                            <li><a routerLink="/aboutUs">Faith Statements</a></li>
                                        </ul> -->
                                    </li>
                                    <li><a routerLink="/ministeries" id='nav-ministry' class='nav-option' (click)='navClick("nav-ministry")'>Ministries</a></li>
                                    <li><a routerLink="/events" id='nav-event' class='nav-option' (click)='navClick("nav-event")'>Events</a></li>
                                    <li>
                                        <a href="Media.html" id='nav-media' class='nav-option' (click)='navClick("nav-media")'>Media</a>
                                        <ul class="submenu">
                                            <li><a href="Media.html" class='nav-option' (click)='navClick(this)'>Media</a></li>
                                            <li><a href="Media1.html" class='nav-option' (click)='navClick(this)'>Media1</a></li>
                                            <li><a href="Media2.html" class='nav-option' (click)='navClick(this)'>Media2</a></li>
                                        </ul>
                                    </li> 
                                    <li>
                                        <div type="text" class="main_bt">
                                            <a routerLink="/login" id='nav-login' class='nav-option' (click)='navClick("nav-login")'>Login</a>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>       
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>