#blog-image{width: 60%;display: inline-block;margin-left: 20px;}
.rounded-circle{width: 35%;height:155px;display: inline-block;}
.card-header{font-weight:600;}
.action-img{width:20px;}
.action-img-div{display:inline-block;}
.switch{margin-left:20px;}
.form-switch .form-check-input:focus,#blog-image:focus{outline: 0; box-shadow: none;}
.error_text{
    color:red;
}
select {
    background-image:
     linear-gradient(45deg, transparent 50%, grey 60%),
     linear-gradient(135deg, grey 40%, transparent 50%) !important;
   background-position:
     calc(100% - 30px) 14px,
     calc(100% - 20px) 14px,
     100% 0;
   background-size:
     10px 10px,
     10px 10px; 
   background-repeat: no-repeat;
   -webkit-appearance: none;
   -moz-appearance: none;
 }