
.loginbox{
	width: 320px;
	background: #000;
	color: #fff;
	box-sizing: bolder-box;
	padding:20px;
	margin:0 auto;
	border-radius: 5px;
	margin-top:5%;
	margin-bottom:5%;
}

/* top: 12%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,30%); */
.avater{
	width: 70px;
	height: 70px;
	position: absolute;
	border-radius: 50%;
	top: -28%;
	left : 40%;
}	
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
	color: #fff;
}
	
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
	
}

.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	font-size: 12px;
	height: 40px;
	color: #fff;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.loginbox a{
text-decoration: none;
font-size: 14px;
line-height: 20px;
color: #ff9966
}
.form-control:focus{box-shadow:none;}
label{margin-bottom:0;}
.form-control{border-radius:0;padding: 10px 0;}
.blue-filled{font-size:13px;padding: 18px 0;margin: 5px 0 12px;}
.register-link{font-size:12px!important;}