<div class='login-container'>
    <div class='container'>
        <div class='login-box row px-3'>
            <div class='col-md-6'>
                <img src='' />
            </div>
            <div class='col-md-6'>
                <div class='form-group'>
                    <label for='email_id'>Email ID*</label>
                    <input type='text' class='form-control' id='email_id' />
                </div>
                <div class='form-group'>
                    <label for='password'>Password*</label>
                    <input type='text' class='form-control' id='password' />
                </div>
                <div class='form-group'>
                    <label for='login_btn'> &nbsp; </label>
                    <button class='btn pink-btn' id='login_btn'>Login</button>
                </div>
            </div>
        </div> 
    </div>
</div>
