<div class="about_section layout_padding my-5">
    <div class="container">
       <div class="row">
            <div class="col-md-6">
                <div class="about_img"><img src="../../../assets/images/worship2.jpg" class='w-100'></div>
            </div>
            <div class="col-md-6">
                <div class="about_taital_main">
                    <h1 class="about_taital">Ministeries List</h1>
                    <div class='ministeries-box row'>
                        <div class="box_main col-md-6">
                            <div class='box-contain'>
                                <h6 class="decorate_text m-0">Ministries 1</h6>
                                <p class="tation_text">Praise the Lord </p>
                                <div class="readmore_bt"><a href="#">Read More</a></div>
                            </div>
                         </div>
                         <div class="box_main col-md-6">
                            <div class='box-contain'>
                                <h6 class="decorate_text m-0">Ministries 2</h6>
                                <p class="tation_text">Praise the Lord </p>
                                <div class="readmore_bt"><a href="#">Read More</a></div>
                            </div>
                         </div>
                         <div class="box_main col-md-6">
                            <div class='box-contain'>
                                <h6 class="decorate_text m-0">Ministries 3</h6>
                                <p class="tation_text">Praise the Lord </p>
                                <div class="readmore_bt"><a href="#">Read More</a></div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>          
       </div>
    </div>
 </div>